.w-1 {
  width: 10px !important;
}
.w-2 {
  width: 20px !important;
}
.w-3 {
  width: 30px !important;
}
.w-4 {
  width: 40px !important;
}
.w-5 {
  width: 50px !important;
}
.w-6 {
  width: 60px !important;
}
